.capsulas-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.capsula {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s;
}

.capsula:hover {
    background-color: #e0e0e0;
}

.capsula a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.custom-card {
    max-width: 220px; /* Ajusta el ancho máximo de las tarjetas */
}

.custom-card .card {
    padding: 10px; /* Ajusta el padding interno de cada tarjeta */
    margin: auto; /* Centra la tarjeta en la columna */
}

        /* Contenedor principal para centrar la gráfica */
        .chart-container {
            display: flex;
            justify-content: center; /* Centrado horizontal */
            align-items: center; /* Centrado vertical */
            height: 100vh; /* Ocupa toda la altura de la pantalla */
            overflow: hidden; /* Evita el desbordamiento */
        }

        /* Estilo para el canvas de matplotlib */
        .chart {
            width: 100%; /* El gráfico se ajusta al 100% del contenedor */
            max-width: 100%; /* Limita el tamaño máximo */
            height: auto; /* Mantiene la proporción del gráfico */
        }
